@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

html{
    border: 10px double;
    border-radius:12px;
    margin:1%
}
body {
    margin:3%;
    background: rgb(43,43,43);
    background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(195,195,195,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    padding-bottom:2%;
    /* font-family: "Muli","sans-serif"; */

  }
.row {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
  
.column {
    
    justify-content: space-around;
   
}

img{
    width: 90%;
    height: 130%;
    padding:0 2% 0 2%;
}
.aboutMeTextArea{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background: rgb(255 255 255 / 15%);
    border-radius: 12px;
    padding: 20px;
    font-family: "Muli","sans-serif";

}
.aboutMeLinks{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-family: "Muli","sans-serif";

}
a{
  font-size: 20px;  
  /* font-style: italic; */
  /* font-weight: bold; */
  
}
.headhead{
    /* background: rgb(43,43,43);
	background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(195,195,195,1) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,89,130,1) 52%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.aboutMePhotoArea{
    margin-top: 8rem;
    /* background: rgb(255 255 255 / 15%); */
    
}

.linked {
    width: 20vw;
    height: 10vw;
    padding:0 2% 0 2%;
    cursor: pointer;
}

img:hover {
    /* background-color: rgb(174, 225, 235); */
    transform: scale(0.90)
  }